<?xml version="1.0"?>

<model>
  <name>wro</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Khaled Gabr</name>
    <email>khaledgabr77@gmail.com</email>
  </author>

  <description>
    environment for the WRO (World Robot Olympiad) Future competition.
  </description>
</model>
